*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
 
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 450px;
    grid-gap:20px;
}
.box{
    width: 100%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;

}

.box img{
    width: 80%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
h2,p{
    width: 80%;
    text-align: center;
    margin: auto;
}

@media (max-width:915px){
    body{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap:10px;
    }
}

@media (max-width:830px){
    body{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap:20px;
    }
}

@media (max-width:450px){
    body{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap:10px;
    }
}